#box1
{
    border: 1px solid white;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
#box2
{
    text-align: center;
    font-size: 30px;
    border: 1px solid #3399CC;
    background-color: #3399CC;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    width: 300px;
    height: 100px;
    margin-left: 220px;
    margin-top: 40px;
    border-radius: 5px;
  
}
#box3
{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
strong
{
    color: #0066FF;

}
#box4
{
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #111111;
}
#box5
{
    text-align: center;
    margin-top: 70px;

}
button
{
    width: 180px;
    height: 60px;
    background-color: #111111;
    color: white;
    font-size: 20px;
    border-radius: 10px ;
    margin-left: 70px;
}
button:hover
{
    font-size:25px ;
}
