@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body
{    width: 100%;
    height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: url('./media/pexels-phil-kallahar-983200.jpg');
     background-position: center;
     background-size: contain;
}
.login
{
    width: 600px;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.sign-up h2
{
    text-align: center;
    font-size: 3em;
    color: #fff;
    margin-bottom: 50px;
}
.login .input
{  

    width: 100%;
    height: 30px;
    margin-bottom: 30px;
    margin-left: 60px;
}
.input-mail 
{
    font-size: 20px;
    width: 70%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid #fff; 
    transition: .3s;
    color: #fff;
}
.input-mail:focus ~ label,
.input-mail:valid ~ label
{
    top: -20px;
    font-size: 15px;
    color: #f8ece2;
    border: none;
}
.input label
{
    position: relative;
    left:-380px;
    color: #fff;
}
.input i
{
    position: absolute;
    right: 600px;
    color: #fff;
}
.login .checkbox
{
    padding-left: 60px;
    margin-bottom: 30px;
    color: #fff;
}
button
{
    font-size: 25px;
    width: 70%;
    margin-left: 60px;
    font-weight: 500;
    background-color: #fff;
    color: black;
    border: none;
    outline: none;
}
button:active
{
    font-size: 27px;
}
.box p
{
    text-align: center;
    margin: 20px 30px 0 0;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.login .icon
{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-right: 40px;
}
.login .icon i
{
    margin-left: 20px;
    color: #fff;
}
p
{
    color: #fff;
}



