@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./media/anh_set_danh.jpg);
    background-position: center;
    background-size: cover;
}
.login
{
    width: 480px;
    height: 500px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 30px;
    backdrop-filter: blur(10px);

}
.box1
{
    text-align: center;
    font-size: 30px;
}
.box2 .mail
{
    display: flex;
    width:100%;
    height: 60px;
    padding: 0px 25px;
    margin-bottom: 40px;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 20px;
   border: none;
   outline: none;
   

}
.box3 .mail{

    display: flex;
    width:100%;
    height: 60px;
    padding: 0px 25px;
    margin-bottom: 20px;
    border-radius: 30px;
    font-size: 20px;
    border: none;
    outline: none;
    
}
.mail:focus
{
    width: 105%;
}
.box4
{
margin-left: 10px;
margin-bottom: 20px;
}
.box5 button
{
    width: 100%;
    height: 60px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 25px;
    font-weight: 600;
    background-color: black;
    color: azure;
}
button:active
{
    font-size: 30px;
}
.box6
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.box6 a
{
    text-decoration: none;
    margin-left: 5px;
    color: black;
    font-weight: 600;
}
a:hover
{
    text-decoration: underline;
}
.box2 i
{
    position: absolute;
    right: 50px;
    top: 30%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #555;
}
.box3 i
{
    position: absolute;
    right: 50px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #555;
}
