@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body
{
    background-image: url('https://images.pexels.com/photos/1643113/pexels-photo-1643113.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); 
    background-position: center;
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.login-box{
    position: relative;
    width: 370px;
    height: 450px;
    background:transparent;
    color: #fff;
    padding: 80px 30px 25px 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
.header-img{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-img img{
    width: 100px;
}
.header-text{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.input-group{
    position: relative;
    display: flex;
    flex-direction: column;
}
.input-field{
    height: 40px;
    background: transparent;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #fff;
    margin: 15px 0;
    padding: 0 15px;
    outline: none;
}
.input-field:focus,.input-field:valid{
    border-bottom: 2px solid #d1e710;
}
.input-group label{
    position: absolute;
    top: 23px;
    left: 3px;
    transition: .3s;
}
.input-field:focus ~ label,.input-field:valid ~ label{
    top: 5px;
    font-size: 12px;
    color: #d1e710;
}
.forgot-pass{
    text-align: right;
    margin-bottom: 10px;
}
.forgot-pass a{
    color: #e9f76a;
    font-size: 12px;
}
.input-submit{
    height: 40px;
    border-radius: 30px;
    border: none;
    background: #d1e710;
    margin-top: 20px;
    cursor: pointer;
    transition: .4s ease-out;
}
.input-submit:hover{
    box-shadow: 0 1px 10px rgb(254, 201, 26,0.5);
}