.box1
{
    width: 200px;
    height: 200px;
    font-size: 50px;
    background-color: brown;
}
.box2
{
    width: 200px;
    height: 200px;
    font-size: 50px;
    background-color: aqua;
}
.box3
{
    width: 200px;
    height: 200px;
    font-size: 50px;
    background-color: chartreuse;
}
.box4
{
    width: 200px;
    height: 200px;
    font-size: 50px;
    background-color: darkgreen;
}
.box5
{
    width: 200px;
    height: 200px;
    font-size: 50px;
    background-color:orange;
}
    .box6
{
    width: 200px;
    height: 200px;
    font-size: 50px;
    background-color: royalblue;
}
    .box7
{
    width: 200px;
    height: 200px;
    font-size: 50px;
    background-color: yellow;
}
.conterner
{
    display: flex;
    flex-wrap: wrap;
  
    height: 600px;
    width: 800px;
    align-content: space-around;

}